.container {
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }

  .search-card{
    padding: 16px;
  }

  form {
    margin-bottom: 20px;

    & > * {
      margin: 5px 0;
    }
  }
}


