<div class="container">
  <mat-card class="search-card" appearance="outlined">
    <ng-container *ngIf="!registerAccessResponse && !memberNotFoundMessage">
      <mat-form-field appearance="outline">
        <input matInput type="text" [(ngModel)]="searchTerm" placeholder="Ingrese número de DNI"/>
      </mat-form-field>

      <button mat-fab extended color="secondary" (click)="search()" [disabled]="!searchTerm">
        <mat-icon>search</mat-icon>
        Buscar
      </button>
    </ng-container>

    <!-- Member not found -->
    <ng-container *ngIf="memberNotFoundMessage">
      <mat-card-header>
        <mat-card-title>{{ memberNotFoundMessage }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button color="primary" (click)="clearAccessResponse()">
          Aceptar
        </button>
      </mat-card-actions>
    </ng-container>

    <!-- Member allowed or not -->
    <ng-container *ngIf="registerAccessResponse">
      <mat-card-header>
        <mat-card-title>{{ registerAccessResponse.title }}</mat-card-title>
        <mat-card-subtitle>{{ registerAccessResponse.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button color="primary" (click)="clearAccessResponse()">
          Aceptar
        </button>
      </mat-card-actions>
    </ng-container>
  </mat-card>
</div>
