.members-list {
  padding: 20px;
}

mat-table {
  width: 100%;
  border-collapse: collapse;
}

mat-header-cell, mat-cell {
  padding: 8px;
  text-align: left;
}

mat-paginator {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
